.wrapper {
 min-width: 300px;
 max-width: 300px;
 min-height: 200px;
 height: 50vw;
 padding: 20px;
  border: 2px solid red;
}
.inner {
  box-sizing: border-box;
  width: 50vh;
  height: 200px;
  border: 2px solid rgb(5, 252, 13);
  /* overflow: scroll; */
  overflow-y: scroll;
}
